RavenAdmin/SampleData/CollectionsData/CollectionsData.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.CollectionsData" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.CollectionsData" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CollectionsData" type="tns:CollectionsData" />
  <xs:complexType name="CollectionsData">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:FormatParameters="1,8" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="3" name="Count" type="xs:double" />
  </xs:complexType>
</xs:schema>