RavenAdmin/SampleData/ReferencedDocuments/ReferencedDocuments.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ReferencedDocuments" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ReferencedDocuments" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ReferencedDocuments" type="tns:ReferencedDocuments" />
  <xs:complexType name="ReferencedDocuments">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="3,8" name="Genre" type="xs:string" />
    <xs:attribute blend:FormatParameters="6" name="Id" type="xs:double" />
    <xs:attribute blend:FormatParameters="1,6" name="type" type="xs:string" />
  </xs:complexType>
</xs:schema>