RavenAdmin/SampleData/ArtistDocuments/ArtistDocuments.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.ArtistDocuments" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.ArtistDocuments" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ArtistDocuments" type="tns:ArtistDocuments" />
  <xs:complexType name="ArtistDocuments">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:Format="Company Name" name="Name" type="xs:string" />
    <xs:attribute blend:FormatParameters="2,8" name="Genre" type="xs:string" />
    <xs:attribute blend:FormatParameters="6" name="Id" type="xs:double" />
  </xs:complexType>
</xs:schema>