RavenAdmin/SampleData/Indexes/Indexes.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
      *********    DO NOT MODIFY THIS FILE     *********
      This file is regenerated by a design tool. Making
      changes to this file can cause errors.
-->
<xs:schema xmlns:tns="Expression.Blend.SampleData.Indexes" xmlns:blend="http://schemas.microsoft.com/expression/blend/2008" targetNamespace="Expression.Blend.SampleData.Indexes" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Indexes" type="tns:Indexes" />
  <xs:complexType name="Indexes">
    <xs:sequence>
      <xs:element name="Collection" type="tns:ItemCollection" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ItemCollection">
    <xs:sequence>
      <xs:element maxOccurs="unbounded" name="Item" type="tns:Item" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Item">
    <xs:attribute blend:Format="Name" name="Name" type="xs:string" />
    <xs:attribute blend:Format="Name" name="Type" type="xs:string" />
  </xs:complexType>
</xs:schema>